<h3>Object</h3>

<div class="row">
   <div class="col-md-3">
       <input type="text" class="form-control" ng-model="data.name" placeholde="type a name..."/>
   </div>
   <div class="col-md-3">
       <select class="form-control" ng-model="data.color" ng-options="color.name as color.name for color in colors">
         <option value="">Select...</option>
       </select>
   </div>
</div>

<pre style="margin-top: 10px">{{ data | json }}</pre>

<h3>Array</h3>


<div class="row">
   <div class="col-md-3">
    <form ng-submit="colors.$add(color); color={};">
       <input type="text" class="form-control" ng-model="color.name" placeholde="type a color..."/>
    </form>
   </div>
   <div class="col-md-3">
       <button type="submit" class="btn btn-default">Add...</button>
   </div>
</div>

<div class="row">
   <div class="col-md-3">
        <ul>
          <li ng-repeat="color in colors">
            <form class="form-inline">
            <input ng-model="color.name" ng-change="colors.$save(color)" class="form-control"/>
            <button ng-click="colors.$remove(color)" class="btn btn-danger">X</button>
            </form>
          </li>
        </ul>
   </div>
</div>

<h3>User</h3>

<pre>{{ user | json }}</pre>

